 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("/images/0_73649100_1662356510.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 210px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 57px auto 60px 386px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 173px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 133px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 183px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 63px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 115px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 936px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 11px;
  margin-bottom: 31px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 906px;
}

.u-section-2 .u-container-layout-1 {
  padding: 23px 0;
}

.u-section-2 .u-text-1 {
  margin: 27px auto 0 58px;
}

.u-section-2 .u-image-1 {
  width: 82px;
  height: 17px;
  margin: 7px auto 0 58px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 31px auto 0 58px;
}

.u-section-2 .u-image-2 {
  width: 396px;
  height: 207px;
  margin: 7px 60px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: -193px 509px 0 58px;
}

.u-section-2 .u-text-4 {
  margin: -22px 36px 0 53px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-line-1 {
  width: 1051px;
  transform-origin: left center 0px;
  margin: 7px 36px 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  margin: 21px auto 0 55px;
}

.u-section-2 .u-image-3 {
  width: 82px;
  height: 17px;
  margin: 0 auto 0 58px;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  margin: 14px 36px 0 53px;
}

.u-section-2 .u-line-2 {
  width: 1051px;
  transform-origin: left center 0px;
  margin: 26px 36px 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  margin: 16px auto 0 51px;
}

.u-section-2 .u-image-4 {
  width: 82px;
  height: 17px;
  margin: 0 auto 0 56px;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  margin: 31px 39px 0 51px;
}

.u-section-2 .u-line-3 {
  width: 1141px;
  transform-origin: left center 0px;
  margin: 61px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 747px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 367px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-line-2 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-line-3 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 147px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-line-2 {
    width: 720px;
  }

  .u-section-2 .u-line-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-line-2 {
    width: 540px;
  }

  .u-section-2 .u-line-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-2 {
    width: 340px;
    height: 178px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -164px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-line-2 {
    width: 340px;
  }

  .u-section-2 .u-line-3 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1363px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1350px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 54px;
}

.u-section-3 .u-image-1 {
  width: 82px;
  height: 17px;
  margin: 9px auto 0 58px;
}

.u-section-3 .u-image-2 {
  width: 305px;
  height: 344px;
  margin: 36px 35px 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -330px auto 0 58px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: -2px auto 0 58px;
}

.u-section-3 .u-text-4 {
  margin: 11px 390px 0 58px;
}

.u-section-3 .u-line-1 {
  width: 1051px;
  transform-origin: left center 0px;
  margin: 58px 31px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 305px;
  height: 344px;
  margin: 28px 35px 0 auto;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -329px auto 0 58px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: -2px auto 0 58px;
}

.u-section-3 .u-text-7 {
  margin: 11px 390px 0 58px;
}

.u-section-3 .u-line-2 {
  width: 1051px;
  transform-origin: left center 0px;
  margin: 197px 31px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 305px;
  height: 344px;
  margin: 32px 31px 0 auto;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -344px auto 0 58px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: -2px auto 0 58px;
}

.u-section-3 .u-text-10 {
  margin: 11px 390px 0 58px;
}

.u-section-3 .u-line-3 {
  width: 1051px;
  transform-origin: left center 0px;
  margin: 170px 35px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1113px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 6px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 11px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -337px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -29px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -23px;
    margin-right: 248px;
    margin-left: 0;
  }

  .u-section-3 .u-line-1 {
    width: 940px;
    margin-top: -157px;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: 50px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 248px;
    margin-left: 0;
  }

  .u-section-3 .u-line-2 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 248px;
    margin-left: 0;
  }

  .u-section-3 .u-line-3 {
    width: 940px;
    height: 3px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 130px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -113px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 23px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -74px;
    margin-right: 28px;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 28px;
  }

  .u-section-3 .u-line-2 {
    width: 720px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 28px;
  }

  .u-section-3 .u-line-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-top: 207px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -138px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -389px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 48px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -100px;
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-line-2 {
    width: 540px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
  }

  .u-section-3 .u-line-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    margin-top: 510px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -442px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 304px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -356px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
    margin-top: -94px;
  }

  .u-section-3 .u-line-2 {
    width: 340px;
  }

  .u-section-3 .u-line-3 {
    width: 340px;
  }
}